<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category form</title>
</head>
<body>

<form th:object="${categorycommand}" th:action="@{/forms/category/}" method="post">

    <input type="hidden" th:field="*{id}"/>

    <label for="category-name"> Name:</label>
    <input type="text" name="category-name" th:field="*{categoryName}">
    <br>
    <!-- TODO: img -->
    <label for="fileupload"> Select a file to upload</label>
    <input type="file" name="fileupload" value="fileupload" id="fileupload">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

</body>
</html>