<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task form</title>
</head>
<body>

<form th:object="${taskcommand}" th:action="@{/forms/task/}" method="post">

    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{categoryId}"/>
    <input type="hidden" th:field="*{startDate}"/>

    <label for="task-title"> Title:</label>
    <input type="text" name="task-title" th:field="*{title}">
    <br>

    <label for="task-description"> Description:</label>
    <input type="text" name="task-description" th:field="*{description}">
    <br>

    <input type="date" th:value="*{finishDate}" th:field="*{finishDate}"/>
    <br>


    <label>State:</label>
    <select th:field="*{state}">
        <option th:each="stateValue : ${T(com.amicolon.domain.enumerated.State).values()}"
                th:value="${stateValue.name()}"
                th:text="${stateValue.name()}"
        >val</option>
    </select>
    <br>

    <label>Priority:</label>
    <select th:field="*{priority}">
        <option th:each="priorityValue : ${T(com.amicolon.domain.enumerated.Priority).values()}"
                th:value="${priorityValue.name()}"
                th:text="${priorityValue.name()}"
        >val</option>
    </select>
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

</body>
</html>