<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task form</title>
</head>
<body>

<form th:object="${taskcommand}" th:action="@{/forms/task/}" method="post">

    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{categoryId}"/>
    <input type="hidden" th:field="*{startDate}"/>

    <label for="task-title"> Title:</label>
    <input type="text" name="task-title" th:field="*{title}">
    <br>

    <label for="task-description"> Description:</label>
    <input type="text" name="task-description" th:field="*{description}">
    <br>

    <input type="hidden" th:field="*{finishDate}"/>
    <br>

    <input type="hidden" th:field="*{priority}"/>
    <br>
    <input type="hidden" th:field="*{state}"/>
    <br>
    <input type="hidden" th:field="*{labels}"/>
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

</body>
</html>