<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${category.getCategoryName()}"></title>
</head>
<body>

<h2 th:text="${category.getCategoryName()}"></h2>

<a href="#" th:href="@{'/task/new'}">
    <h4>Add new task</h4>
</a>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>Finish Date</th>
            <th>State</th>
            <th>Priority</th>
            <th>Labels</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="task : ${category.getTasks()}">
            <td th:text="${task.getTitle()}"></td>
            <td th:text="${task.getDescription()}"></td>
            <td th:text="${task.getStartDate()}"></td>
            <td th:text="${task.getFinishDate()}"></td>
            <td th:text="${task.getState().getStateName()}"></td>
            <td th:text="${task.getPriority().getPriorityName()}"></td>
            <td th:text="${task.getLabelNames()}"></td>
            <td><a th:href="@{'/category/' + ${category.getId()} + '/task/' + ${task.getId()} + '/update'}">Update</a></td>
            <td><a th:href="@{'/category/' + ${category.getId()} + '/task/' + ${task.getId()} + '/delete'}">Delete</a></td>
        </tr>
    </tbody>
</table>


</body>
</html>