<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>

<body>
<form class="form-horizontal" method="post" th:action="@{/login}">
    <fieldset>

        <!-- Form Name -->
        <legend>User Login</legend>

        <!-- Text input-->
        <label class="col-md-4 control-label" for="username">Username</label>

        <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md"
               required=""/>


        <!-- Password input-->

        <label class="col-md-4 control-label" for="password">Password</label>

        <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md"
               required=""/>

        <!-- Multiple Checkboxes (inline) -->
        <!--<label class="col-md-4 control-label" for="remember-me"></label>-->
        <!--<label class="checkbox-inline" for="remember-me-0">-->
            <!--<input type="checkbox" name="remember-me" id="remember-me-0" value="true"/>-->
            <!--Remember Me-->
        <!--</label>-->

        <!-- Button -->
        <label class="col-md-4 control-label" for="submit"></label>
        <input type="submit" id="submit" value="Login" name="submit" class="btn btn-primary btn-login"/>

    </fieldset>
</form>

</body>

</html>