<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Panel</title>
</head>
<body>

    <h1>List of categories</h1>

    <a href="#" th:href="@{'/category/new'}">
        <h2>Add new category</h2>
    </a>

    <table>
        <tr th:each="category : ${categories}">
            <td><a href="#" th:href="@{'category/' + ${category.getId()}}" th:text="${category.getCategoryName()}"></a></td>
            <td><a href="#" th:href="@{'/category/' + ${category.getId()}}">View</a></td>
            <td><a href="#" th:href="@{'/category/' + ${category.getId()} + '/update'}">Update</a></td>
            <td><a href="#" th:href="@{'/category/' + ${category.getId()} + '/delete'}">Delete</a></td>
        </tr>
    </table>

</body>
</html>