<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Panel</title>
</head>
<body>


<form class="form-horizontal" method="post" th:action="@{/logout}">
        <!-- Button -->
        <label class="col-md-4 control-label" for="submit"></label>
        <input type="submit" id="submit" value="Logout" name="submit" class="btn btn-primary btn-login"/>
</form>

<!--<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">-->
    <!--This will only be displayed if authenticated user has role ROLE_ADMIN.-->
<!--</div>-->


<!-- TODO: backspace-->
<!-- TODO: if empty do not list-->

    <h1>List of categories</h1>

    <a th:href="@{'/category/new'}">
        <h4>Add new category</h4>
    </a>

    <table>
        <tr th:each="category : ${categories}">
            <td><a th:href="@{'category/' + ${category.id}}" th:text="${category.categoryName}"></a></td>
            <td><a th:href="@{'/category/' + ${category.id} + '/update'}">Update</a></td>
            <td><a th:href="@{'/category/' + ${category.id} + '/delete'}">Delete</a></td>
        </tr>
    </table>

</body>
</html>